{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta name="description" content=""/>
  <meta name="author" content=""/>
  <title>Codebook Admin</title>
  <!-- loader-->
  <link href="{% static 'assets/css/pace.min.css' %}" rel="stylesheet"/>
  <script src="{% static 'assets/js/pace.min.js' %}"></script>
  <!--favicon-->
  <link rel="icon" href="{% static 'assets/images/favicon.ico' %}" type="image/x-icon">
  <!-- Vector CSS -->
  <link href="{% static 'assets/plugins/vectormap/jquery-jvectormap-2.0.2.css' %}" rel="stylesheet"/>
  <!-- simplebar CSS-->
  <link href="{% static 'assets/plugins/simplebar/css/simplebar.css' %}" rel="stylesheet"/>
  <!-- Bootstrap core CSS-->
  <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet"/>
  <!-- animate CSS-->
  <link href="{% static 'assets/css/animate.css' %}" rel="stylesheet" type="text/css"/>
  <!-- Icons CSS-->
  <link href="{% static 'assets/css/icons.css' %}" rel="stylesheet" type="text/css"/>
  <!-- Sidebar CSS-->
  <link href="{% static 'assets/css/sidebar-menu.css' %}" rel="stylesheet"/>
  <!-- Custom Style-->
  <link href="{% static 'assets/css/app-style.css' %}" rel="stylesheet"/>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

</head>

<body class="bg-theme bg-theme1">
  {% if messages %}
  {% for message in messages %}
  {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
  <script>swal({
          title: "Success!",
          text: "{{message}}",
          icon: "success",
          button: "OK",
      });
  </script>
  
  {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
  <script>swal({
          title: "Warning :)",
          text: "{{message}}",
          icon: "warning",
          button: "OK",
       
      });
  </script>
  {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
  <script>swal({
          title: "info :)",
          text: "{{message}}",
          icon: "info",
          button: "OK",
      });
  </script>
  {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
  <script>swal({
          title: "error :)",
          text: "{{message}}",
          icon: "error",
          button: "OK",
      });
  </script>
  {% endif %}
  {% endfor %}
  {% endif %}
<!-- Start wrapper-->
 <div id="wrapper">
 
  <!--Start sidebar-wrapper-->
   <div id="sidebar-wrapper" data-simplebar="" data-simplebar-auto-hide="true">
     <div class="brand-logo">
      <a href="{% url "adashboard" %}">
       <img src="{% static 'assets/images/logo-icon.png' %}" class="logo-icon" alt="logo icon">
       <h5 class="logo-text">Codebook Admin</h5>
     </a>
   </div>
   <ul class="sidebar-menu do-nicescrol">
      <li class="sidebar-header">MAIN NAVIGATION</li>
      <li>
        <a href="{% url "adashboard" %}">
          <i class="zmdi zmdi-view-dashboard"></i> <span>Dashboard</span>
        </a>
      </li>
      <li class="sidebar-header">USER DETAILS</li>

      <li class="has-arrow" id="userManagement">
        <a href="javascript:void(0);" aria-expanded="false" onclick="toggleList('userManagement');">
            <i class="zmdi zmdi-account-circle"></i> <span>User Management</span>
        </a>
        <ul style="display: none;">
            <li><a href="{% url "pending" %}">Pending User</a></li>
            <li><a href="{% url "manage" %}">Manage User</a></li>
        </ul>
    </li>
    <li class="sidebar-header">DATA</li>

    <li class="has-arrow" id="dataSet">
        <a href="javascript:void(0);" aria-expanded="false" onclick="toggleList('dataSet');">
            <i class="zmdi zmdi-format-list-bulleted"></i> <span>Data Set</span>
        </a>
        <ul style="display: none;">
            <li><a href="{% url "upload" %}">Upload Dataset</a></li>
        </ul>
    </li>
    <li class="sidebar-header">MODEL VIEWS</li>

    
    <li class="has-arrow" id="tables">
      <a href="javascript:void(0);" aria-expanded="false" onclick="toggleList('tables');">
          <i class="zmdi zmdi-grid"></i> <span>Models</span>
      </a>
      <ul style="display: none;">
        <li><a href="{% url "train" %}">Train And Test Model</a></li>
       <li><a href="{% url "test" %}">CNN Model</a></li>
      </ul>
  </li>
  <li class="sidebar-header">MODEL ACCURACY</li>

  <li class="has-arrow" id="calendar">
      <a href="javascript:void(0);" aria-expanded="false" onclick="toggleList('calendar');">
          <i class="zmdi zmdi-calendar-check"></i> <span>Graph Analysis</span>
      </a>
      <ul style="display: none;">
        <li><a href="{% url "accuracy" %}">Accuracy Graph</a></li>
        <small class="badge float-right badge-light">99%</small>
      </ul>
  </li>
  <li class="sidebar-header">USER FEEDBACK</li>

  <li class="has-arrow" id="profile">
    <a href="javascript:void(0);" aria-expanded="false" onclick="toggleList('profile');">
        <i class="zmdi zmdi-face"></i> <span>Feedback Details</span>
    </a>
    <ul style="display: none;">
      <li><a href="{% url "afeedback" %}">Feedback</a></li>
      <li><a href="{% url "feedbackanalysis" %}">Sentiment Analysis</a></li>
      <li><a href="{% url "feedbackgraph" %}">Sentiment Analysis Graph</a></li>
    </ul>
</li>  
   </div>
   <!--End sidebar-wrapper-->

<!--Start topbar header-->
<header class="topbar-nav">
 <nav class="navbar navbar-expand fixed-top">
  <ul class="navbar-nav mr-auto align-items-center">
    <li class="nav-item">
      <a class="nav-link toggle-menu" href="javascript:void();">
       <i class="icon-menu menu-icon"></i>
     </a>
    </li>
    <li class="nav-item">
      <form class="search-bar">
        <input type="text" class="form-control" placeholder="Enter keywords">
         <a href="javascript:void();"><i class="icon-magnifier"></i></a>
      </form>
    </li>
  </ul>
     
  <ul class="navbar-nav align-items-center right-nav-link">
    <li class="nav-item dropdown-lg">
      <a class="nav-link dropdown-toggle dropdown-toggle-nocaret waves-effect" data-toggle="dropdown" href="javascript:void();">
      <i class="fa fa-envelope-open-o"></i></a>
    </li>
    <li class="nav-item dropdown-lg">
      <a class="nav-link dropdown-toggle dropdown-toggle-nocaret waves-effect" data-toggle="dropdown" href="javascript:void();">
      <i class="fa fa-bell-o"></i></a>
    </li>
    <li class="nav-item language">
      <a class="nav-link dropdown-toggle dropdown-toggle-nocaret waves-effect" data-toggle="dropdown" href="javascript:void();"><i class="fa fa-flag"></i></a>
      <ul class="dropdown-menu dropdown-menu-right">
          <li class="dropdown-item"> <i class="flag-icon flag-icon-gb mr-2"></i> English</li>
          <li class="dropdown-item"> <i class="flag-icon flag-icon-fr mr-2"></i> French</li>
          <li class="dropdown-item"> <i class="flag-icon flag-icon-cn mr-2"></i> Chinese</li>
          <li class="dropdown-item"> <i class="flag-icon flag-icon-de mr-2"></i> German</li>
        </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown" href="#">
        <span class="user-profile"><img src="https://via.placeholder.com/110x110" class="img-circle" alt="user avatar"></span>
      </a>
      <ul class="dropdown-menu dropdown-menu-right">
       <li class="dropdown-item user-details">
        <a href="javaScript:void();">
           <div class="media">
             <div class="avatar"><img class="align-self-start mr-3" src="https://via.placeholder.com/110x110" alt="user avatar"></div>
            <div class="media-body">
            <h6 class="mt-2 user-title">Sarajhon Mccoy</h6>
            <p class="user-subtitle">mccoy@example.com</p>
            </div>
           </div>
          </a>
        </li>
        <li class="dropdown-divider"></li>
        <li class="dropdown-item"><i class="icon-envelope mr-2"></i> Inbox</li>
        <li class="dropdown-divider"></li>
        <li class="dropdown-item"><i class="icon-wallet mr-2"></i> Account</li>
        <li class="dropdown-divider"></li>
        <li class="dropdown-item"><i class="icon-settings mr-2"></i> Setting</li>
        <li class="dropdown-divider"></li>
        <a href="{% url "index" %}"><li class="dropdown-item"><i class="icon-power mr-2"></i> Logout</li></a>
      </ul>
    </li>
  </ul>
</nav>
</header>
<!--End topbar header-->

<div class="clearfix"></div>
	
  <div class="content-wrapper">
    <div class="container-fluid">

  <!--Start Dashboard Content-->

	<div class="card mt-3">
    <div class="card-content">
        <div class="row row-group m-0">
            <div class="col-12 col-lg-6 col-xl-3 border-light">
                <div class="card-body">
                  <h5 class="text-white mb-0">  -  {{a}} <span class="float-right"><i class="fa fa-user"></i></span></h5>
                    <div class="progress my-3" style="height:3px;">
                       <div class="progress-bar" style="width:55%"></div>
                    </div>
                  <p class="mb-0 text-white small-font">Pending Users <span class="float-right">+4.2% <i class="zmdi zmdi-long-arrow-up"></i></span></p>
                </div>
            </div>
            <div class="col-12 col-lg-6 col-xl-3 border-light">
                <div class="card-body">
                  <h5 class="text-white mb-0">  -  {{d}} <span class="float-right"><i class="fa fa-check"></i></span></h5>
                    <div class="progress my-3" style="height:3px;">
                       <div class="progress-bar" style="width:55%"></div>
                    </div>
                  <p class="mb-0 text-white small-font">Accepted Users <span class="float-right">+1.2% <i class="zmdi zmdi-long-arrow-up"></i></span></p>
                </div>
            </div>
            <div class="col-12 col-lg-6 col-xl-3 border-light">
                <div class="card-body">
                  <h5 class="text-white mb-0"> -  {{c}} <span class="float-right"><i class="fa fa-ban"></i></span></h5>
                    <div class="progress my-3" style="height:3px;">
                       <div class="progress-bar" style="width:55%"></div>
                    </div>
                  <p class="mb-0 text-white small-font">Rejected Users <span class="float-right">+5.2% <i class="zmdi zmdi-long-arrow-up"></i></span></p>
                </div>
            </div>
            <div class="col-12 col-lg-6 col-xl-3 border-light">
                <div class="card-body">
                  <h5 class="text-white mb-0">  -  {{e}} <span class="float-right"><i class="fa fa-database"></i></span></h5>
                    <div class="progress my-3" style="height:3px;">
                       <div class="progress-bar" style="width:55%"></div>
                    </div>
                  <p class="mb-0 text-white small-font">No. Of Datasets <span class="float-right">+2.2% <i class="zmdi zmdi-long-arrow-up"></i></span></p>
                </div>
            </div>
        </div>
    </div>
 </div>  
	  
	<div class="row">
     <div class="col-12 col-lg-8 col-xl-8">
	    <div class="card">
		 <div class="card-header">Site Traffic
		   <div class="card-action">
			 <div class="dropdown">
			 <a href="javascript:void();" class="dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown">
			  <i class="icon-options"></i>
			 </a>
				<div class="dropdown-menu dropdown-menu-right">
				<a class="dropdown-item" href="javascript:void();">Action</a>
				<a class="dropdown-item" href="javascript:void();">Another action</a>
				<a class="dropdown-item" href="javascript:void();">Something else here</a>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item" href="javascript:void();">Separated link</a>
			   </div>
			  </div>
		   </div>
		 </div>
		 <div class="card-body">
		    <ul class="list-inline">
			  <li class="list-inline-item"><i class="fa fa-circle mr-2 text-white"></i>New Visitor</li>
			  <li class="list-inline-item"><i class="fa fa-circle mr-2 text-light"></i>Old Visitor</li>
			</ul>
			<div class="chart-container-1">
			  <canvas id="chart1"></canvas>
			</div>
		 </div>
		 
		 <div class="row m-0 row-group text-center border-top border-light-3">
		   <div class="col-12 col-lg-4">
		     <div class="p-3">
		       <h5 class="mb-0">45.87M</h5>
			   <small class="mb-0">Overall Visitor <span> <i class="fa fa-arrow-up"></i> 2.43%</span></small>
		     </div>
		   </div>
		   <div class="col-12 col-lg-4">
		     <div class="p-3">
		       <h5 class="mb-0">15:48</h5>
			   <small class="mb-0">Visitor Duration <span> <i class="fa fa-arrow-up"></i> 12.65%</span></small>
		     </div>
		   </div>
		   <div class="col-12 col-lg-4">
		     <div class="p-3">
		       <h5 class="mb-0">245.65</h5>
			   <small class="mb-0">Pages/Visit <span> <i class="fa fa-arrow-up"></i> 5.62%</span></small>
		     </div>
		   </div>
		 </div>
		 
		</div>
	 </div>

     <div class="col-12 col-lg-4 col-xl-4">
        <div class="card">
           <div class="card-header">Weekly sales
             <div class="card-action">
             <div class="dropdown">
             <a href="javascript:void();" class="dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown">
              <i class="icon-options"></i>
             </a>
              <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="javascript:void();">Action</a>
              <a class="dropdown-item" href="javascript:void();">Another action</a>
              <a class="dropdown-item" href="javascript:void();">Something else here</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="javascript:void();">Separated link</a>
               </div>
              </div>
             </div>
           </div>
           <div class="card-body">
		     <div class="chart-container-2">
               <canvas id="chart2"></canvas>
			  </div>
           </div>
           <div class="table-responsive">
             <table class="table align-items-center">
               <tbody>
                 <tr>
                   <td><i class="fa fa-circle text-white mr-2"></i> Direct</td>
                   <td>$5856</td>
                   <td>+55%</td>
                 </tr>
                 <tr>
                   <td><i class="fa fa-circle text-light-1 mr-2"></i>Affiliate</td>
                   <td>$2602</td>
                   <td>+25%</td>
                 </tr>
                 <tr>
                   <td><i class="fa fa-circle text-light-2 mr-2"></i>E-mail</td>
                   <td>$1802</td>
                   <td>+15%</td>
                 </tr>
                 <tr>
                   <td><i class="fa fa-circle text-light-3 mr-2"></i>Other</td>
                   <td>$1105</td>
                   <td>+5%</td>
                 </tr>
               </tbody>
             </table>
           </div>
         </div>
     </div>
	</div><!--End Row-->
	


      <!--End Dashboard Content-->
	  
	<!--start overlay-->
		  <div class="overlay toggle-menu"></div>
		<!--end overlay-->
		
    </div>
    <!-- End container-fluid-->
    
    </div><!--End content-wrapper-->
   <!--Start Back To Top Button-->
    <a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
    <!--End Back To Top Button-->
	
	<!--Start footer-->
	<footer class="footer">
      <div class="container">
        <div class="text-center">
          <a target='_blank' href='https://www.codebook.in/'>Copyright © 2023 Codebook</a>
        </div>
      </div>
    </footer>
	<!--End footer-->
	
  <!--start color switcher-->
   <div class="right-sidebar">
    <div class="switcher-icon">
      <i class="zmdi zmdi-settings zmdi-hc-spin"></i>
    </div>
    <div class="right-sidebar-content">

      <p class="mb-0">Gaussion Texture</p>
      <hr>
      
      <ul class="switcher">
        <li id="theme1"></li>
        <li id="theme2"></li>
        <li id="theme3"></li>
        <li id="theme4"></li>
        <li id="theme5"></li>
        <li id="theme6"></li>
      </ul>

      <p class="mb-0">Gradient Background</p>
      <hr>
      
      <ul class="switcher">
        <li id="theme7"></li>
        <li id="theme8"></li>
        <li id="theme9"></li>
        <li id="theme10"></li>
        <li id="theme11"></li>
        <li id="theme12"></li>
		<li id="theme13"></li>
        <li id="theme14"></li>
        <li id="theme15"></li>
      </ul>
      
     </div>
   </div>
  <!--end color switcher-->
   
  </div><!--End wrapper-->
  <script>
    var openListId = null;

    function toggleList(listId) {
        var listElement = document.getElementById(listId);
        var ul = listElement.querySelector('ul');

        if (openListId && openListId !== listId) {
            // Close the previously open list
            var openListElement = document.getElementById(openListId);
            openListElement.querySelector('ul').style.display = 'none';
            openListElement.setAttribute('aria-expanded', 'false');
            openListElement.querySelector('.arrow-icon').innerHTML = '';
        }

        ul.style.display = (ul.style.display === 'none' || ul.style.display === '') ? 'block' : 'none';
        listElement.setAttribute('aria-expanded', ul.style.display === 'block' ? 'true' : 'false');
        listElement.querySelector('.arrow-icon').innerHTML = (ul.style.display === 'block') ? '' : '';

        openListId = (ul.style.display === 'block') ? listId : null;
    }
</script>

  <script>
    var openListId = null;

    function toggleList(listId) {
        var listElement = document.getElementById(listId);
        var ul = listElement.querySelector('ul');

        if (openListId && openListId !== listId) {
            // Close the previously open list
            var openListElement = document.getElementById(openListId);
            openListElement.querySelector('ul').style.display = 'none';
            openListElement.setAttribute('aria-expanded', 'false');
            openListElement.querySelector('.arrow-icon').innerHTML = ';';
        }

        ul.style.display = (ul.style.display === 'none' || ul.style.display === '') ? 'block' : 'none';
        listElement.setAttribute('aria-expanded', ul.style.display === 'block' ? 'true' : 'false');
        listElement.querySelector('.arrow-icon').innerHTML = (ul.style.display === 'block') ? '' : '';

        openListId = (ul.style.display === 'block') ? listId : null;
    }
</script>

  <script>
    var openListId = null;

    function toggleList(listId) {
        var listElement = document.getElementById(listId);
        var ul = listElement.querySelector('ul');

        if (openListId && openListId !== listId) {
            // Close the previously open list
            var openListElement = document.getElementById(openListId);
            openListElement.querySelector('ul').style.display = 'none';
            openListElement.setAttribute('aria-expanded', 'false');
            openListElement.querySelector('.arrow-icon').innerHTML = '';
        }

        ul.style.display = (ul.style.display === 'none' || ul.style.display === '') ? 'block' : 'none';
        listElement.setAttribute('aria-expanded', ul.style.display === 'block' ? 'true' : 'false');
        listElement.querySelector('.arrow-icon').innerHTML = (ul.style.display === 'block') ? '' : '';

        openListId = (ul.style.display === 'block') ? listId : null;
    }
</script>
  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'assets/js/jquery.min.js' %}"></script>
  <script src="{% static 'assets/js/popper.min.js' %}"></script>
  <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
	
 <!-- simplebar js -->
  <script src="{% static 'assets/plugins/simplebar/js/simplebar.js' %}"></script>
  <!-- sidebar-menu js -->
  <script src="{% static 'assets/js/sidebar-menu.js' %}"></script>
  <!-- loader scripts -->
  <script src="{% static 'assets/js/jquery.loading-indicator.js' %}"></script>
  <!-- Custom scripts -->
  <script src="{% static 'assets/js/app-script.js' %}"></script>
  <!-- Chart js -->
  
  <script src="{% static 'assets/plugins/Chart.js/Chart.min.js' %}"></script>
 
  <!-- Index js -->
  <script src="{% static 'assets/js/index.js' %}"></script>

  
</body>
</html>
